<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/style.css">

    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">


    
</head>
<body>

    
    {{>navbar}}

    
    <section id="mainFile">
        <div class="description">

            <h4>Welcome to the weather app</h4>
            <h1>GET THE LATEST <span>WEATHER</span> INFO OF YOUR CITY</h1>
            <a href="/weather"><button>CHECK NOW</button></a>

        </div>
        <div class="mainImg">

            <img src="../images/mainImg.png" alt="">

        </div>
    </section>

    {{>footer}}

</body>
</html>